# Secret keys - KABHI UPLOAD MAT KARNA
.env
*.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
venv 
.env
.venv

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/